[submodule "pandoc/kde-syntax-highlighting"]
	path = pandoc/syntax-highlighting
	url = https://github.com/KDE/syntax-highlighting
	shallow = true

[submodule "pandoc/csl"]
	path = pandoc/csl
	url = https://github.com/citation-style-language/styles
	shallow = true

[submodule "pandoc/filters"]
	path = pandoc/filters
	url = https://github.com/tritiumd/pandoc-filters
    shallow = true